{% extends 'base.html.twig' %}

{% block title %}Hello ComparadorController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('leaflet/leaflet.css') }}" />
<link rel="stylesheet" href="{{ asset('leaflet/leaflet-routing-machine.css') }}">
<style>
    .vehiculos {
        margin: auto;
        font-size: 20px;
        padding: 3px;
    }

    #myMapa {
    }

    #tapa {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100000;
    }

    .contenedor {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .conte-compara {
        position: relative;
        width: 300%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        transition: all 1s;
    }

    .cajas-compara {
        position: relative;
        width: 100%;
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center mt-4">COMPARA TU PORTE YA...</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet soluta cupiditate magnam, nulla dolorem ut tenetur
        tempore odit quos laboriosam ullam rem laudantium a vero, animi sint suscipit hic natus at deserunt sequi velit.
        Amet quis, ut similique officia cupiditate optio dignissimos excepturi est ea, quasi iste nisi error
        necessitatibus ipsa quaerat! Repellat voluptatum libero maxime quasi accusantium quo facere illum, fugiat at
        tempore aspernatur harum dolorem voluptas repudiandae reiciendis, cum accusamus repellendus explicabo obcaecati
        perspiciatis veritatis aut quibusdam? Quis minima maxime impedit! Explicabo laborum unde rerum dicta officiis,
        inventore, totam consectetur labore minima deserunt odio voluptatibus provident id. Cumque numquam ipsa ullam,
        iure aut possimus totam ex, veritatis animi debitis harum laborum id deserunt error? Temporibus quidem cum
        incidunt.</p>
    <div class="col-md-6 offset-md-3">
        <ol>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nulla modi tempora voluptates,
                    veritatis error alias maxime numquam deleniti facilis?</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum expedita nemo corrupti, repudiandae
                    deserunt pariatur illum dolores quasi harum possimus.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum expedita nemo corrupti, repudiandae
                    deserunt pariatur illum dolores quasi harum possimus.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum expedita nemo corrupti, repudiandae
                    deserunt pariatur illum dolores quasi harum possimus.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum expedita nemo corrupti, repudiandae
                    deserunt pariatur illum dolores quasi harum possimus.</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum expedita nemo corrupti, repudiandae
                    deserunt pariatur illum dolores quasi harum possimus.</p>
            </li>
        </ol>
    </div>
</div>

<section id="comparador" class="bg-dark pt-5 pb-5">
    <div class="container">
        <h2 class="text-center text-white">COMPARADOR</h2>
        <div class="contenedor">
            <div class="conte-compara">
                <div class="cajas-compara">
                    <form action="" method="post">
                        <h5 class="text-center text-warning m-5">Selecciona los vehiculos que necesitaras.</h5>
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <p class="text-center text-white">TRAILER</p>
                                <img src="{{ asset('img/c1.png') }}" alt="trailer">
                                <br>
                                <select name="se-trailer" id="se-trailer" class="vehiculos">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="text-center text-white">CAMION</p>
                                <img src="{{ asset('img/c2.png') }}" alt="camion">
                                <br>
                                <select name="se-camion" id="se-camion" class="vehiculos">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="text-center text-white">FURGON</p>
                                <img src="{{ asset('img/c3.png') }}" alt="furgon">
                                <br>
                                <select name="se-furgon" id="se-furgon" class="vehiculos">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="text-center text-white">3.500 kls:</p>
                                <img src="{{ asset('img/c4.png') }}" alt="coche">
                                <br>
                                <select name="se-coche" id="se-coche" class="vehiculos">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                        </div> {# fin de los vehiculos#}
                        <div class="col-md-12 mt-5 text-center">
                            <button type="button" onclick="pasar()" class="btn btn-success btn-lg">Continuar</button>
                        </div>
                </div>
                <div class="cajas-compara">
                    <h5 class="text-center text-warning m-5">Selecciona el destino de salida y el de llagada.</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"><label for=""></label>
                                <select name="com-salida" id="com-salida" class="custom-select">
                                </select>
                            </div>
                            <div class="form-group"><label for=""></label>
                                <select name="pro-salida" id="pro-salida" class="custom-select">
                                    <option selected>Seleciona una comunidad</option>
                                </select>
                            </div>
                            <div class="form-group"><label for=""></label>
                                <select name="loc-salida" id="loc-salida" class="custom-select">
                                    <option selected>Seleciona una provincia</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><label for=""></label>
                                <select name="com-llegada" id="com-llegada" class="custom-select">
                                    <option selected>Seleciona la procedencia</option>
                                </select>
                            </div>
                            <div class="form-group"><label for=""></label>
                                <select name="pro-llegada" id="pro-llegada" class="custom-select">
                                    <option selected>Seleciona una comunidad</option>
                                </select>
                            </div>
                            <div class="form-group"><label for=""></label>
                                <select name="loc-llegada" id="loc-llegada" class="custom-select">
                                    <option selected>Seleciona una provincia</option>
                                </select>
                            </div>
                        </div>
                    </div> {# fin select ciudades #}
                    <div class="row mt-5">
                        <div class="col-md-6 text-center"><button type="reset" class="btn btn-danger btn-lg"
                                onclick="reseteo()">Volver</button></div>
                        <div class="col-md-6 text-center"><button type="button" onclick="pasar()"
                                class="btn btn-success btn-lg">Continuar</button>
                        </div>
                    </div>
                </div>
                <div class="cajas-compara">
                    <h5 class="text-center text-warning m-5">Resumen de tu seleccion.</h5>

                    <div class="row">
                        {# datos resumen #}
                        <div class="col-md-6 text-right">
                            {# mapa #}
                            <div id="myMapa" style="position:relative;width:400px;height:400px;"></div>
                            <div id="tapa"></div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-warning">VEHÍCULOS</h4>
                            <div class="conte-coches">
                                <div class="coches-resumen mt-2" id="coches-trailer"></div>
                                <div class="coches-resumen mt-2" id="coches-camion"></div>
                                <div class="coches-resumen mt-2" id="coches-furgon"></div>
                                <div class="coches-resumen mt-2" id="coches-coche"></div>
                            </div>


                            <div class="text-left">
                                <div class="mt-3">
                                    <h4 class="text-warning">PROCEDENCIA</h4>
                                    <h4 id="txt-procedencia" class="text-center text-white"></h4>
                                </div>
                                <div class="mt-3">
                                    <h4 class=" text-warning">DESTINO</h4>
                                    <h4 id="txt-destino" class="text-white text-center"></h4>
                                </div>

                                <div class="mt-3">
                                    <h4 class=" text-warning">KILOMETROS POR CARRETERA</h4>
                                    <h4 id="txt-kilometros" class="text-white text-center">00.00 kms.</h4>
                                    <input type="hidden" name="kilos" id="kilos">
                                </div>
                            </div>
                        </div>
                    </div> {# fin datos resumen #}
                    <div class="row mt-5">
                        <div class="col-md-6 text-center"><button type="reset" class="btn btn-danger btn-lg"
                                onclick="reseteo()">Volver</button></div>
                        <div class="col-md-6 text-center"><button type="button"
                                class="btn btn-success btn-lg">COMPARAR</button>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}

<script src="{{ asset('leaflet/leaflet.js') }}"></script>
<script src="{{ asset('leaflet/leaflet-routing-machine.js') }}"></script>
<script src="{{ asset('js/datosCiudades.js') }}"></script>
<script>
    var sal = $('#loc-salida').val(),
        lle = $('#loc-llegada').val(),
        datoSa = sal.split(','),
        datolg = lle.split(',')

    const tileProvided = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    var myMap = L.map('myMapa').setView([40.42028, -3.70577], 4)

    L.tileLayer(tileProvided, {
        maxZoom: 18
    }).addTo(myMap)

    // L.Routing.control({
    //     waypoints: [
    //         L.latLng(parseFloat(datoSa[0]), parseFloat(datoSa[1])),
    //         L.latLng(parseFloat(datoLg[0]), parseFloat(datoLg[1]))
    //     ],
    //     routeWhileDragging: false,
    //     zoomControl: false
    // }).addTo(myMap);

    // $('.leaflet-right').css('display', 'none')
    // $('.leaflet-left').css('display', 'none')

    // setTimeout(() => {
    //     var ruta = $('.leaflet-routing-alternatives-container .leaflet-routing-alt h3').text(),
    //         repla = ruta.split(' ')
    //     kilo = parseFloat(repla[0])
    //     $('#txt-kilometros').text(kilo + ' kms.')
    //     $('#kilos').val(kilo)
    // }, 1000);

    var lado = false
    function pasar() {
        if(!lado) {
            $('.conte-compara').css('margin-left','-100%')
            lado = true
        } else {
            $('.conte-compara').css('margin-left','-200%')
        }
    }

    function reseteo() {
        $('.conte-compara').css('margin-left','0%')
        lado = false
    }
</script>

{% endblock %}