<header>
    <div id="relleno"></div>
    <div class="header-datos">
        <div id="btn-menu">
            <div class="uno"></div>
            <div class="dos"></div>
            <div class="tres"></div>
        </div>
        <h3>COMPARA <span>trans</span></h3>
    </div>
    <div class="header-user">
    {% if app.user %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        {{ app.user.username }}
    </button>
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-outline-light btn-sm">Inicia sesion o registrate</a>
    {% endif %}
        
    </div>
</header>
<div id="liston"></div>
<nav id="navi">
    <ul>
        <li><a href="{{ path('pri_index') }}"><i class="fa fa-home"></i> Inicio</a></li>
        <li><a href="{{ path('pri_index') }}#info"><i class="fa fa-info-circle"></i> Como Funcionamos</a></li>
        <li><a href="{{ path('pri_index') }}#empresas"><i class="fa fa-info-circle"></i> Las Razones</a></li>
        <li><a href="{{ path('pri_index') }}#info-articulo"><i class="fa fa-info-circle"></i> Opinion</a></li>

        <li><a href="{{ path('com_index') }}"><i class="fa fa-cogs"></i> Comparador</a></li>
        

        <li><a href=""><i class="fa fa-envelope"></i> Contacto</a></li>

        {% if app.user %}
          <li><a href="#" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-user"></i> {{ app.user.username }}</a></li>
        {% else %}
          <li><a href="{{ path('app_login') }}"><i class="fa fa-user"></i> Inicio de sesión</a></li>
        {% endif %}
        
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      {% if app.user %}
        <h5 class="modal-title" id="exampleModalLongTitle">{{ app.user.username }}</h5>
      {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="{{ path('app_editar') }}" class="btn btn-primary btn-block">Mi Perfil</a>
        <a href="{{ path('app_editar') }}" class="btn btn-primary btn-block">Editar mis Datos</a>
        <a href="{{ path('mo_index') }}" class="btn btn-primary btn-block">Mis Movimientos</a>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')%}
        <a href="" class="btn btn-primary btn-block">Editar Precios</a>
        {% endif %}
        <a href="{{ path('app_logout') }}" class="btn btn-danger btn-block">Cerrar sesión</a>
      </div>
    </div>
  </div>
</div>